@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron container text-center" style="        background: url(https://res.cloudinary.com/dfuuywyk9/image/upload/v1633021584/Imagen1_bcpkf9.png) no-repeat center center;
        background-size: 100% 100%;
">

    <h1 style="font-weight:600" >ONLINE STORE</h1>
    <br />
    <p class="lead" style="font-weight:600">Mision, Vision y Valores</p>
    <br />
    <p><a href="https://asp.net" style="font-weight:600" class="btn btn-primary btn-lg">Catálogo &raquo;</a></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img src="https://estaticos.miarevista.es/media/cache/1140x_thumb/uploads/images/gallery/5a5795b35bafe814130f6681/cervezasabores-ppal_0.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Cerveza tibetana</h1>
                <p class="price">S/. 19.00</p>
                <p>Info..</p>
                <p><button>Ver más</button></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://res.cloudinary.com/dfuuywyk9/image/upload/v1633020438/descarga_2_nshv1c.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Queso Cabrales</h1>
                <p class="price">S/. 21.00</p>
                <p>Info..</p>
                <p><button>Ver más</button></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://res.cloudinary.com/dfuuywyk9/image/upload/v1633020533/descarga_1_1_s9foe7.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Algas Konbu</h1>
                <p class="price">S/. 6.00</p>
                <p>Info..</p>
                <p><button>Ver más</button></p>
            </div>
        </div>
    </div>
</div>